
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
}

@media (max-width: 991px) {
    #dropdown {
      position: relative !important;
      transform: translate3d(0px, 0px, 0px) !important;
    }
  
    #arrow img {
      transform: rotate(180deg);
    }
  
    .space .col-5 {
      width: 100%;
      max-width: 350px;
      z-index: 999;
    }
  
    .space #arrow img {
      transform: rotate(0deg);
    }
  
    .space #arrow {
      background-color: #fff;
      width: 28px;
      left: -15px;
      justify-content: center;
    }
  
    .table thead tr th:last-child {
      background: #fff3da;
    }
  
    .table thead tr th:last-child,
    .table tbody tr td:last-child {
      position: sticky;
      right: 0;
      display: flex;
      padding: 19px 10px;
      align-items: center;
      width: 61px;
      justify-content: center;
    }
  
    .table tbody tr td:last-child {
      background: #ffff;
    }
  }